<p-toast [style]="{ marginTop: '80px', width: '25%' }" position="top-center" life="10000"></p-toast>
<div class="ui-g" *ngIf="encuesta && censo">
  <div class="ui-xl-2 ui-lg-4 ui-md-6 ui-sm-12">
    <app-info-personal></app-info-personal>
  </div>
  <div class="ui-xl-2 ui-lg-4 ui-md-6 ui-sm-12">
    <app-pendientes></app-pendientes>
  </div>
  <div class="ui-lg-4 ui-md-6 ui-sm-12">
    <app-mis-notas></app-mis-notas>
  </div>
  <div class="ui-lg-4 ui-md-6 ui-sm-12">
    <app-proceso-academico></app-proceso-academico>
  </div>
  <div class="ui-lg-4 ui-md-6 ui-sm-12">
    <app-mis-cursos></app-mis-cursos>
  </div>
  <div class="ui-lg-4 ui-md-6 ui-sm-12">
    <app-historial-academico></app-historial-academico>
  </div>
  <div class="ui-lg-4 ui-md-6 ui-sm-12">
    <app-mis-asignaturas></app-mis-asignaturas>
  </div>
</div>
<div *ngIf="!encuesta">
  <iframe
    style="
      position: fixed;
      top: 140.6px;
      left: 0;
      bottom: 0;
      right: 0;
      width: calc(100% - 15px);
      height: calc(100% - 84.6px);
      border: none;
      margin: 0px 8px;
    "
    [src]="urlEncuesta | safe"
  ></iframe>
</div>
<div class="float-button" *ngIf="!encuesta">
  <button
    pButton
    type="button"
    icon="pi pi-info"
    label="Finalizar"
    (click)="finalizar()"
    class="float-btn ui-button-raised ui-button-success"
  ></button>
</div>

<div *ngIf="!censo">
  <iframe
    style="
      position: fixed;
      top: 140.6px;
      left: 0;
      bottom: 0;
      right: 0;
      width: calc(100% - 15px);
      height: calc(100% - 84.6px);
      border: none;
      margin: 0px 8px;
    "
    [src]="urlCenso | safe"
  ></iframe>
</div>
<div class="float-button" *ngIf="!censo">
  <button
    pButton
    type="button"
    icon="pi pi-info"
    label="cerrar"
    (click)="cerrar()"
    class="float-btn ui-button-raised ui-button-success"
  ></button>
</div>
