#bodyMain {
  width: 100vw;
  height: 100vh;
}

.back-image {
  background: #666666 url('~src/assets/images/login-background.jpg') no-repeat center !important;
  filter: blur(3px);
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -10;
}

.container-info {
  height: 100%;
}

.panel-login {
  margin: auto;
  margin-top: calc(50vh - 360px) !important;
  // -----------------
}

::ng-deep .ui-panel .ui-panel-content {
  padding: 0px !important;
  background-color: #ffffff !important;
}

.logo-salle-login {
  width: 100%;
}

.logo-salle {
  margin-left: calc(50% - 92.5px);
  margin-top: 30px;
  margin-bottom: 30px;
}

.info-login {
  width: 94.92%;
  margin: auto;
  // border: 1px solid #3a3a3a;
  text-align: justify;
  font-size: 13px;
  background-color: #ffffffb9;
  padding: 10px 7.12%;
  line-height: 1 !important;
  border-radius: 2%;
}

.input-text {
  width: 100%;
}

.div-input {
  width: 78.75%;
  margin: auto;
  padding-top: 5%;
  text-align: center;
}

.recuperar-clave {
  padding: 0;
  margin-bottom: 28px;
}

.button-login {
  width: 65%;
  margin: 1% 0% 6% 0%;
}

::ng-deep .ui-widget-overlay {
  // background-color: rgba(0, 0, 0, 0.4);
  background-color: rgba(0, 0, 0, 0.6) !important;
}

::ng-deep .ui-dialog .ui-dialog-content {
  background-color: #ffffffdb !important;
}

::ng-deep .ui-listbox .ui-listbox-header .ui-listbox-filter-container {
  width: 100% !important;
}

.show-pass {
  background-color: #dfdfdf;
  border-color: #b4b4b4;
  color: rgb(121, 121, 121);
}

@media only all {
  .big-screen-only-main-component,
  .small-screen-only-main-component {
    display: none !important;
    margin: auto !important;
  }
}

@media screen and (min-width: 700px) {
  .big-screen-only-main-component {
    display: block !important;
    margin: auto !important;
  }

  .panel-login {
    width: 93.125%;
  }
}

@media screen and (max-width: 700px) {
  .small-screen-only-main-component {
    display: block !important;
    margin: auto !important;
    z-index: 10000;
    position: relative;
  }

  .panel-login {
    width: 100%;
  }
}

.progress {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
}

.spinner {
  float: left;
  position: fixed;
  top: calc(50% - 75px);
  left: calc(50% - 75px);
}
