<div *ngIf="observableMatricula.asignaturasDisponiblesPlan.length != 0">
  <p-tabView>
    <!-- MATERIAS DISPONIBLES DEL PLAN DE ESTUDIOS. -->
    <p-tabPanel [header]="stringHelper.getResource('tabView-titulo1')">
      <p-table
        [value]="observableMatricula.asignaturasDisponiblesPlan"
        [paginator]="true"
        [rows]="10"
        [responsive]="true"
        [rowsPerPageOptions]="[10, 20, 30, 50, 100]"
      >
        <ng-template pTemplate="header">
          <tr>
            <th width="10%">
              {{ stringHelper.getResource('tbl-codigo') }}
            </th>
            <th width="15%">
              {{ stringHelper.getResource('tbl-semestre') }}
            </th>
            <th width="5%">
              {{ stringHelper.getResource('tbl-creditos') }}
            </th>
            <th width="60%">
              {{ stringHelper.getResource('tbl-materia') }}
            </th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
          <tr
            (click)="mostrarDialog(rowData)"
            [ngClass]="{
              matpar: rowData.inscrita && rowIndex % 2 == 0,
              matimpar: rowData.inscrita && rowIndex % 2 != 0,
              matno: !rowData.inscrita
            }"
          >
            <td>
              <span class="ui-column-title">{{ stringHelper.getResource('tbl-codigo') }}</span>
              {{ rowData.materia.codigo }}
            </td>
            <td>
              <span class="ui-column-title">{{ stringHelper.getResource('tbl-semestre') }}</span>
              {{ rowData.materia.semestre }}
            </td>
            <td>
              <span class="ui-column-title">{{ stringHelper.getResource('tbl-curso') }}</span>
              {{ rowData.materia.creditos }}
            </td>
            <td>
              <span class="ui-column-title">{{ stringHelper.getResource('tbl-materia') }}</span
              >{{ rowData.materia.nombre }}
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p-tabPanel>
    <!-- BOLSAS DE CREDITOS ELECTIVOS. -->
    <p-tabPanel [header]="bolsa.nombre" *ngFor="let bolsa of observableMatricula.bolsasCreditosElectivos">
      <p-table
        #tb
        [columns]="cols"
        [value]="bolsa.asignaturasDisponibles"
        [paginator]="true"
        [rows]="10"
        [responsive]="true"
        [rowsPerPageOptions]="[10, 20, 30, 50, 100]"
      >
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns">
              {{ col.header }}
            </th>
          </tr>
          <tr>
            <th *ngFor="let col of columns" [ngSwitch]="col.field">
              <p-dropdown
                *ngSwitchCase="'facultad'"
                [options]="bolsa.facultades"
                [style]="{ width: '100%' }"
                (onChange)="onFacultadChange($event, tb)"
              >
              </p-dropdown>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
          <tr
            (click)="mostrarDialog(rowData)"
            [ngClass]="{
              matpar: rowData.inscrita && rowIndex % 2 == 0,
              matimpar: rowData.inscrita && rowIndex % 2 != 0,
              matno: !rowData.inscrita
            }"
          >
            <td>
              {{ rowData.materia.facultad.nombre }}
            </td>
            <td>
              <span class="ui-column-title">{{ stringHelper.getResource('tbl-codigo') }}</span>
              {{ rowData.materia.codigo }}
            </td>
            <td>
              <span class="ui-column-title">{{ stringHelper.getResource('tbl-materia') }}</span
              >{{ rowData.materia.nombre }}
            </td>
            <td>
              <span class="ui-column-title">{{ stringHelper.getResource('tbl-semestre') }}</span>
              {{ rowData.materia.semestre }}
            </td>
            <td>
              <span class="ui-column-title">{{ stringHelper.getResource('tbl-curso') }}</span>
              {{ rowData.materia.creditos }}
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p-tabPanel>
  </p-tabView>
</div>
<p-dialog
  *ngIf="materiaActual"
  [header]="materiaActual.materia.codigo + ' ' + materiaActual.materia.nombre"
  [(visible)]="display"
  [responsive]="true"
  [modal]="true"
  [style]="{ width: '85%', minWidth: '85%' }"
  appendTo="body"
  [baseZIndex]="11000"
>
  <b>{{ stringHelper.getResource('dlg-descripcion') }}:</b>
  <p-table [value]="materiaActual.grupos" [responsive]="true">
    <ng-template pTemplate="header">
      <tr>
        <th width="30%">
          {{ stringHelper.getResource('tbl-programa-cursar') }}
        </th>
        <th width="15%">
          {{ stringHelper.getResource('tbl-codigo-cursar') }}
        </th>
        <th width="21%">
          {{ stringHelper.getResource('tbl-materia-cursar') }}
        </th>
        <th width="8%">
          {{ stringHelper.getResource('tbl-grupo') }}
        </th>
        <th width="13%">
          {{ stringHelper.getResource('tbl-fecha-inicio') }}
        </th>
        <th width="13%">
          {{ stringHelper.getResource('tbl-fecha-final') }}
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData>
      <tr
        [ngStyle]="{ color: colorRow(rowData)[1], cursor: colorRow(rowData)[0], 'font-weight': colorRow(rowData)[2] }"
        (click)="inscribirMateria(rowData)"
      >
        <td>
          {{ rowData.facultad.nombre }}
        </td>
        <td>
          {{ rowData.materia.codigo }}
        </td>
        <td>
          {{ rowData.materia.nombre }}
        </td>
        <td>
          {{ rowData.grupo }}
        </td>
        <td>
          {{ rowData.fechaInicial ? rowData.fechaInicial.split(' ')[0] : 'N/A' }}
        </td>
        <td>
          {{ rowData.fechaFinal ? rowData.fechaFinal.split(' ')[0] : 'N/A' }}
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-dialog>
<p-toast position="top-center"></p-toast>
